---
import Layout from '../../../layouts/Layout.astro'
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon/components'
import MenuNavbar from '../../../components/MenuNavbar.astro'
---

<Layout>
	<MenuNavbar />
	<main class="pb-24 pt-32">
		<header
			class="flex flex-col justify-between gap-8 px-page-mobile sm:flex-row sm:items-center md:px-page-tablet lg:px-page"
		>
			<!-- Section title -->
			<div class="flex items-center gap-4">
				<h1 class="text-6xl md:text-8xl">Bebidas</h1>
				<Icon name={'food/bebida'} size={80} />
			</div>
		</header>
	</main>
</Layout>
