---
import Layout from '../layouts/Layout.astro'
---

<Layout
	title="Contacto"
	description="Encuentra todas las manera de ponerte en contacto con nosotros."
>
	<main>
		<header class="px-page-mobile py-12 pb-24 pt-40 md:px-page-tablet lg:px-page">
			<h1>Esta es la página de contacto</h1>
			<p>Vuelve pronto para ver todas las opciones de contacto que tenemos</p>
		</header>
	</main>
</Layout>
