---
//Component imports
import { Image } from 'astro:assets'
import Layout from '../layouts/Layout.astro'

//Asset imports
import heroBg from '../images/home/hero-bg.png'
---

<Layout title="The Wrap Co.">
	<main>
		<!-- Hero section -->
		<section
			id="hero"
			class="relative flex min-h-screen w-full flex-col justify-center p-10 md:items-center"
		>
			<!-- Title and subtitle -->
			<div id="hero-comp" class="mb-10 flex flex-col items-start md:mb-20 md:items-center">
				<p
					class="mb-8 text-sm font-light uppercase tracking-extrawide md:text-2xl md:tracking-superwide"
				>
					Próximamente
				</p>
				<div id="logo" class="mb-4 flex flex-wrap gap-8">
					<!-- The -->
					<svg
						width="196"
						height="120"
						viewBox="0 0 196 120"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M54.2831 22.4H44.3631C42.1231 22.4 41.4831 23.04 41.4831 25.28V114.08C41.4831 118.72 40.2031 120 35.5631 120H25.3231C20.6831 120 19.4031 118.72 19.4031 114.08V25.28C19.4031 23.04 18.7631 22.4 16.5231 22.4H6.60313C1.96313 22.4 0.683125 21.12 0.683125 16.48V5.91999C0.683125 1.27999 1.96313 -9.53674e-06 6.60313 -9.53674e-06H54.2831C58.9231 -9.53674e-06 60.2031 1.27999 60.2031 5.91999V16.48C60.2031 21.12 58.9231 22.4 54.2831 22.4ZM106.168 114.08V70.88C106.168 68.64 105.528 68 103.288 68H90.1681C87.9281 68 87.2881 68.64 87.2881 70.88V114.08C87.2881 118.72 86.0081 120 81.3681 120H71.1281C66.4881 120 65.2081 118.72 65.2081 114.08V5.91999C65.2081 1.27999 66.4881 -9.53674e-06 71.1281 -9.53674e-06H81.3681C86.0081 -9.53674e-06 87.2881 1.27999 87.2881 5.91999V42.72C87.2881 44.8 87.9281 45.6 90.1681 45.6H103.288C105.528 45.6 106.168 44.8 106.168 42.72V5.91999C106.168 1.27999 107.448 -9.53674e-06 112.088 -9.53674e-06H122.328C126.968 -9.53674e-06 128.248 1.27999 128.248 5.91999V114.08C128.248 118.72 126.968 120 122.328 120H112.088C107.448 120 106.168 118.72 106.168 114.08ZM164.944 25.28V43.2C164.944 45.28 165.584 46.08 167.824 46.08H187.664C192.304 46.08 193.584 47.36 193.584 52V62.56C193.584 67.2 192.304 68.48 187.984 68.48H167.824C165.584 68.48 164.944 69.12 164.944 71.36V94.72C164.944 96.8 165.584 97.6 167.824 97.6H189.584C194.224 97.6 195.504 98.88 195.504 103.52V114.08C195.504 118.72 194.224 120 189.584 120H148.784C144.144 120 142.864 118.72 142.864 114.08V5.91999C142.864 1.27999 144.144 -9.53674e-06 148.784 -9.53674e-06H189.584C194.224 -9.53674e-06 195.504 1.27999 195.504 5.91999V16.48C195.504 21.12 194.224 22.4 189.584 22.4H167.824C165.584 22.4 164.944 23.04 164.944 25.28Z"
							fill="#FBFBF9"></path>
					</svg>

					<!-- Wrap -->
					<svg
						width="315"
						height="120"
						viewBox="0 0 315 120"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M44.4344 -9.53674e-06H54.6744C59.3144 -9.53674e-06 60.5944 1.27999 60.5944 5.91999V40.16C60.5944 42.4 60.7544 44.48 61.0744 46.88L67.6344 87.2C67.9544 89.12 68.2744 89.6 69.8744 89.6C71.4744 89.6 71.9544 89.12 72.1144 87.2L75.9544 46.88C76.1144 44.48 76.4344 42.4 76.4344 40.16V5.91999C76.4344 1.27999 77.7144 -9.53674e-06 82.3544 -9.53674e-06H92.5944C97.2344 -9.53674e-06 98.5144 1.27999 98.5144 5.91999V33.76C98.5144 41.76 97.8744 45.6 96.5944 54.24L88.1144 109.92C86.8344 118.24 84.1144 120 74.8344 120H67.1544C57.8744 120 54.8344 118.08 53.8744 109.92L50.8344 85.6C50.6744 84.96 50.3544 84.8 49.7144 84.8C49.0744 84.8 48.9144 84.96 48.7544 85.6L45.2344 109.92C44.1144 118.08 41.2344 120 31.9544 120H24.2744C14.9944 120 12.2744 118.24 10.9944 109.92L2.51437 54.24C1.23438 45.6 0.594375 41.76 0.594375 33.76V5.91999C0.594375 1.27999 1.87438 -9.53674e-06 6.51438 -9.53674e-06H16.7544C21.3944 -9.53674e-06 22.6744 1.27999 22.6744 5.91999V40.16C22.6744 42.4 22.9944 44.48 23.1544 46.88L26.9944 87.2C27.1544 89.12 27.6344 89.6 29.2344 89.6C30.8344 89.6 31.1544 89.12 31.4744 87.2L38.0344 46.88C38.3544 44.48 38.5144 42.4 38.5144 40.16V5.91999C38.5144 1.27999 39.7944 -9.53674e-06 44.4344 -9.53674e-06ZM151.042 115.52L138.242 76.64C137.442 74.4 136.802 73.76 134.402 73.76H133.762C131.522 73.76 130.882 74.4 130.882 76.64V114.08C130.882 118.72 129.602 120 124.962 120H114.722C110.082 120 108.802 118.72 108.802 114.08V5.91999C108.802 1.27999 110.082 -9.53674e-06 114.722 -9.53674e-06H135.842C160.162 -9.53674e-06 171.202 8.32 171.202 28.8V40.32C171.202 55.36 168.802 61.12 160.322 68.32C159.362 68.96 159.202 69.28 159.202 70.08C159.202 70.56 159.362 71.04 159.682 72.16L173.762 113.92C175.202 118.08 173.602 120 169.442 120H157.762C153.282 120 152.322 119.36 151.042 115.52ZM130.882 24.48V49.12C130.882 51.36 131.522 52 133.762 52H137.122C144.642 52 148.482 48.64 148.482 40.96V32.16C148.482 24.64 144.962 21.6 137.122 21.6H133.762C131.522 21.6 130.882 22.24 130.882 24.48ZM201.428 114.08C201.428 118.72 200.148 120 195.508 120H185.268C180.628 120 179.348 118.72 179.348 114.08V73.12C179.348 66.08 179.668 63.2 181.588 56.8L196.148 7.99999C198.068 1.27999 199.668 -9.53674e-06 207.988 -9.53674e-06H213.748C222.068 -9.53674e-06 223.668 1.27999 225.588 7.99999L240.148 56.8C242.068 63.04 242.388 66.08 242.388 73.12V114.08C242.388 118.72 241.108 120 236.468 120H226.228C221.588 120 220.308 118.72 220.308 114.08V92.96C220.308 90.72 219.668 90.08 217.428 90.08H204.308C202.068 90.08 201.428 90.72 201.428 92.96V114.08ZM217.908 67.68C219.668 67.68 220.628 67.04 220.628 65.6C220.628 64.8 220.468 64 220.308 63.2L212.948 32.32C212.628 30.72 212.308 30.4 210.868 30.4C209.428 30.4 209.108 30.72 208.788 32.32L201.428 63.2C201.268 64 201.108 64.8 201.108 65.6C201.108 67.04 202.068 67.68 203.828 67.68H217.908ZM279.123 78.88H277.043C274.803 78.88 274.163 79.52 274.163 81.76V114.08C274.163 118.72 272.883 120 268.243 120H258.003C253.363 120 252.083 118.72 252.083 114.08V5.91999C252.083 1.27999 253.363 -9.53674e-06 258.003 -9.53674e-06H279.123C303.443 -9.53674e-06 314.483 8.79999 314.483 30.4V48.48C314.483 70.08 303.443 78.88 279.123 78.88ZM274.163 25.28V53.6C274.163 55.84 274.803 56.48 277.043 56.48H280.403C288.243 56.48 291.763 53.28 291.763 45.12V33.76C291.763 25.6 288.243 22.4 280.403 22.4H277.043C274.803 22.4 274.163 23.04 274.163 25.28Z"
							fill="#FBFBF9"></path>
					</svg>

					<!-- Co. -->
					<svg
						width="165"
						height="124"
						viewBox="0 0 165 124"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M62.2044 83.6V88.4C62.2044 114.16 54.8444 123.6 31.6444 123.6C8.44438 123.6 0.764375 114.16 0.764375 88.4V35.6C0.764375 9.83999 8.44438 0.399992 31.6444 0.399992C54.8444 0.399992 62.2044 9.83999 62.2044 35.6V40.4C62.2044 45.04 60.9244 46.32 56.2844 46.32H46.0444C41.4044 46.32 40.1244 45.04 40.1244 40.4V31.76C40.1244 25.36 37.4044 22.8 31.8044 22.8C26.2044 22.8 23.4844 25.36 23.4844 31.76V92.24C23.4844 98.64 26.2044 101.2 31.8044 101.2C37.4044 101.2 40.1244 98.64 40.1244 92.24V83.6C40.1244 78.96 41.4044 77.68 46.0444 77.68H56.2844C60.9244 77.68 62.2044 78.96 62.2044 83.6ZM132.837 86.8C132.837 113.84 125.157 123.6 101.957 123.6C78.7569 123.6 71.0769 113.84 71.0769 86.8V37.2C71.0769 10.32 78.7569 0.399992 101.957 0.399992C125.157 0.399992 132.837 10.32 132.837 37.2V86.8ZM93.7969 92.24C93.7969 98.64 96.3569 101.2 101.957 101.2C107.557 101.2 110.117 98.64 110.117 92.24V32.56C110.117 25.52 107.557 22.8 101.957 22.8C96.3569 22.8 93.7969 25.52 93.7969 32.56V92.24ZM164.239 108.08V112.24C164.239 118.8 161.039 122 154.479 122H150.319C143.919 122 140.559 118.8 140.559 112.24V108.08C140.559 101.68 143.919 98.32 150.319 98.32H154.479C161.039 98.32 164.239 101.68 164.239 108.08Z"
							fill="#FBFBF9"></path>
					</svg>
				</div>
				<div class="rounded-md bg-orange px-4 py-1">
					<p class="text-4xl font-light">& Coffee</p>
				</div>
			</div>

			<!-- Contact information -->
			<ul id="hero-info" class="flex max-w-4xl flex-wrap gap-10 md:items-center md:justify-center">
				<!-- Contact info #1 -->
				<li>
					<a href="https://maps.app.goo.gl/byUbJ1XaYhwHDDEH9" class="flex items-center gap-4">
						<div class="rounded-full bg-orange p-2">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="20"
								height="20"
								viewBox="0 0 21 21"
								fill="none"
							>
								<mask
									id="mask0_245_21267"
									style="mask-type:alpha"
									maskUnits="userSpaceOnUse"
									x="0"
									y="0"
									width="21"
									height="21"
								>
									<rect x="0.5" y="0.5" width="20" height="20" fill="#D9D9D9"></rect>
								</mask>
								<g mask="url(#mask0_245_21267)">
									<path
										d="M10.5 10.5C10.9583 10.5 11.3507 10.3368 11.6771 10.0104C12.0035 9.68403 12.1666 9.29167 12.1666 8.83333C12.1666 8.375 12.0035 7.98264 11.6771 7.65625C11.3507 7.32986 10.9583 7.16667 10.5 7.16667C10.0416 7.16667 9.64929 7.32986 9.3229 7.65625C8.99651 7.98264 8.83331 8.375 8.83331 8.83333C8.83331 9.29167 8.99651 9.68403 9.3229 10.0104C9.64929 10.3368 10.0416 10.5 10.5 10.5ZM10.5 18.8333C8.26387 16.9306 6.59373 15.1632 5.48956 13.5313C4.3854 11.8993 3.83331 10.3889 3.83331 9C3.83331 6.91667 4.50345 5.25694 5.84373 4.02083C7.18401 2.78472 8.73609 2.16667 10.5 2.16667C10.7778 2.16667 11.0555 2.18403 11.3333 2.21875C11.6111 2.25347 11.8889 2.30556 12.1666 2.375V5.5H14.6666V8H17.1041C17.1319 8.15278 17.1493 8.31597 17.1562 8.48958C17.1632 8.6632 17.1666 8.83333 17.1666 9C17.1666 10.3889 16.6146 11.8993 15.5104 13.5313C14.4062 15.1632 12.7361 16.9306 10.5 18.8333ZM15.5 7.16667V4.66667H13V3H15.5V0.5H17.1666V3H19.6666V4.66667H17.1666V7.16667H15.5Z"
										fill="#FBFBF9"></path>
								</g>
							</svg>
						</div>
						<p class="font-light">
							Rio Mississippi 129 A, Colonia del Valle, San Pedro Garza García, 66220.
						</p>
					</a>
				</li>

				<!-- Contact info #2 -->
				<li>
					<a href="/" class="flex items-center gap-4">
						<div class="rounded-full bg-orange p-2">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="21"
								height="21"
								viewBox="0 0 21 21"
								fill="none"
							>
								<mask
									id="mask0_245_21273"
									style="mask-type:alpha"
									maskUnits="userSpaceOnUse"
									x="0"
									y="0"
									width="21"
									height="21"
								>
									<rect x="0.5" y="0.5" width="20" height="20" fill="#D9D9D9"></rect>
								</mask>
								<g mask="url(#mask0_245_21273)">
									<path
										d="M17.125 18C15.3889 18 13.6736 17.6215 11.9792 16.8646C10.2847 16.1076 8.74306 15.0347 7.35417 13.6458C5.96528 12.2569 4.89236 10.7153 4.13542 9.02083C3.37847 7.32639 3 5.61111 3 3.875C3 3.625 3.08333 3.41667 3.25 3.25C3.41667 3.08333 3.625 3 3.875 3H7.25C7.44444 3 7.61806 3.06597 7.77083 3.19792C7.92361 3.32986 8.01389 3.48611 8.04167 3.66667L8.58333 6.58333C8.61111 6.80556 8.60417 6.99306 8.5625 7.14583C8.52083 7.29861 8.44444 7.43056 8.33333 7.54167L6.3125 9.58333C6.59028 10.0972 6.92014 10.5937 7.30208 11.0729C7.68403 11.5521 8.10417 12.0139 8.5625 12.4583C8.99306 12.8889 9.44444 13.2882 9.91667 13.6563C10.3889 14.0243 10.8889 14.3611 11.4167 14.6667L13.375 12.7083C13.5 12.5833 13.6632 12.4896 13.8646 12.4271C14.066 12.3646 14.2639 12.3472 14.4583 12.375L17.3333 12.9583C17.5278 13.0139 17.6875 13.1146 17.8125 13.2604C17.9375 13.4062 18 13.5694 18 13.75V17.125C18 17.375 17.9167 17.5833 17.75 17.75C17.5833 17.9167 17.375 18 17.125 18Z"
										fill="#FBFBF9"></path>
								</g>
							</svg>
						</div>
						<p class="font-light">961 251 3578</p>
					</a>
				</li>

				<!-- Contact info #3 -->
				<li>
					<a href="https://www.instagram.com/thewrapco._/" class="flex items-center gap-4">
						<div class="rounded-full bg-orange p-2">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="21"
								height="21"
								viewBox="0 0 21 21"
								fill="none"
							>
								<path
									d="M7.16536 2.5C4.5927 2.5 2.5 4.59464 2.5 7.16797V13.8346C2.5 16.4073 4.59464 18.5 7.16797 18.5H13.8346C16.4073 18.5 18.5 16.4054 18.5 13.832V7.16536C18.5 4.5927 16.4054 2.5 13.832 2.5H7.16536ZM15.1667 5.16667C15.5347 5.16667 15.8333 5.46533 15.8333 5.83333C15.8333 6.20133 15.5347 6.5 15.1667 6.5C14.7987 6.5 14.5 6.20133 14.5 5.83333C14.5 5.46533 14.7987 5.16667 15.1667 5.16667ZM10.5 6.5C12.706 6.5 14.5 8.294 14.5 10.5C14.5 12.706 12.706 14.5 10.5 14.5C8.294 14.5 6.5 12.706 6.5 10.5C6.5 8.294 8.294 6.5 10.5 6.5ZM10.5 7.83333C9.79276 7.83333 9.11448 8.11428 8.61438 8.61438C8.11428 9.11448 7.83333 9.79276 7.83333 10.5C7.83333 11.2072 8.11428 11.8855 8.61438 12.3856C9.11448 12.8857 9.79276 13.1667 10.5 13.1667C11.2072 13.1667 11.8855 12.8857 12.3856 12.3856C12.8857 11.8855 13.1667 11.2072 13.1667 10.5C13.1667 9.79276 12.8857 9.11448 12.3856 8.61438C11.8855 8.11428 11.2072 7.83333 10.5 7.83333Z"
									fill="#FBFBF9"></path>
							</svg>
						</div>
						<p class="font-light">@thewrapco._</p>
					</a>
				</li>

				<!-- Contact info #4 -->
				<li>
					<a href="https://www.facebook.com/thewrapco.restaurant" class="flex items-center gap-4">
						<div class="rounded-full bg-orange p-2">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="21"
								height="21"
								viewBox="0 0 21 21"
								fill="none"
							>
								<path
									d="M10.5 2.5C6.082 2.5 2.5 6.082 2.5 10.5C2.5 14.5107 5.45467 17.8227 9.304 18.4013V12.62H7.32467V10.5173H9.304V9.118C9.304 6.80133 10.4327 5.78467 12.358 5.78467C13.28 5.78467 13.768 5.85333 13.9987 5.884V7.71933H12.6853C11.868 7.71933 11.5827 8.49467 11.5827 9.368V10.5173H13.978L13.6533 12.62H11.5827V18.418C15.4873 17.8887 18.5 14.55 18.5 10.5C18.5 6.082 14.918 2.5 10.5 2.5Z"
									fill="#FBFBF9"></path>
							</svg>
						</div>
						<p class="font-light">The Wrap Co.</p>
					</a>
				</li>
			</ul>
			<!-- <Image
				src={heroBg},
				alt={'A cozy restaurant'},
				fit={cover},
				width={'100%'},
				height={'100%'},
				class:list={[
					'absolute',
					'inset-0',
					'object-cover',
					'-z-10',
					'opacity-10',
				]}
			/> -->
		</section>
	</main>
</Layout>

<style>
	#hero::before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0.1;
		background-image: url('../images/home/hero-bg.png');
		background-repeat: no-repeat;
		background-position: 50% 0;
		background-size: cover;
		z-index: -1;
	}
</style>
