---
//Component imports
import { Image } from 'astro:assets'
import Layout from '../layouts/Layout.astro'

//Asset imports
import heroBg from '../images/home/hero-bg.png'
---

<Layout
	title="The Wrap Co."
	description="Deliciosos Wraps artesanales y café nacional para acompañar tu día."
>
	<main>
		<header class="h-screen bg-light-2 px-page-mobile pb-24 pt-32 md:px-page-tablet lg:px-page">
			<h1>Welcome to flavortown!</h1>
		</header>
		<section class="px-page-mobile py-24 md:px-page-tablet lg:px-page">
			<div><p>Wraps are dope!</p></div>
		</section>
	</main>
</Layout>
