---
//Component imports
import { Image } from 'astro:assets'
import Layout from '../layouts/layout.astro'

//Asset imports
import heroBg from '../images/home/hero-bg.png'
---

<Layout title="The Wrap Co.">
	<main>
		<header class="h-screen bg-light-2 px-page pb-24 pt-32">
			<h1>Welcome to flavortown!</h1>
		</header>
	</main>
</Layout>
