---
//Component imports
import { Image } from 'astro:assets'
import Layout from '../layouts/Layout.astro'

//Asset imports
import heroBg from '../images/home/hero-bg.png'
---

<Layout title="The Wrap Co.">
	<main>
		<header class="px-page py-12">
			<h1>Welcome to flavortown!</h1>
		</header>
	</main>
</Layout>
