---
import { Image } from 'astro:assets'
import wrap from '../assets/navbar/wrap.svg'
import cup from '../assets/navbar/cup.svg'
---

<script>
	document.addEventListener('astro:page-load', () => {
		const gridElement = document.getElementById('links-grid')
		if (!gridElement) {
			return
		}
		const links = document.querySelectorAll('.menu-link')
		const activeIndicator = document.getElementById('active-indicator')
		const linkWidth = gridElement.getBoundingClientRect().width / (gridElement.children.length - 1)
		links.forEach((link, index) => {
			if ((link as HTMLAnchorElement).href === window.location.href) {
				link.classList.add('opacity-100', 'text-light-1')
				link.classList.remove('text-dark-3')
				const innerIcon = link.querySelector('.icon-holder')
				if (innerIcon) {
					innerIcon.classList.add('bg-brand-2')
					innerIcon.classList.remove('bg-dark-3')
				}
				if (activeIndicator) {
					activeIndicator.style.width = `${linkWidth}px`
					activeIndicator.style.left = `${index * linkWidth}px`
				}
			}
		})
	})
</script>

<div
	class="fixed bottom-0 left-0 right-0 flex items-center justify-center px-page-mobile py-8 md:px-page-tablet lg:px-page"
>
	<div
		id="links-grid"
		class="relative grid grid-cols-2 items-center justify-items-center rounded-full bg-light-2"
	>
		<a
			href="/menu/wraps/"
			class="menu-link relative z-20 flex gap-2 px-8 py-4 font-body text-lg font-semibold uppercase text-dark-3 no-underline"
		>
			<div class="icon-holder flex items-center justify-center rounded-full bg-dark-3 p-2">
				<Image src={wrap} alt={'Wrap Icon'} />
			</div>
			 Wraps</a
		>
		<a
			href="/menu/bebidas/"
			class="menu-link relative z-20 flex gap-2 px-8 py-4 font-body text-lg font-semibold uppercase text-dark-3 no-underline"
		>
			<div class="icon-holder flex items-center justify-center rounded-full bg-dark-3 p-2">
				<Image src={cup} alt={'Cup Icon'} />
			</div>
			 Bebidas</a
		>
		<div
			transition:name="indicator"
			id="active-indicator"
			class="absolute z-0 h-full rounded-full bg-dark-3"
		>
		</div>
	</div>
</div>
